
  <p><%= comment.body %></p>
  <p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.user.email %></small></p>
  <% if comment.user == current_user %>
    <%= link_to 'Delete', [@link, comment], method: :delete %>
  <% end %>
